#rallysport-content-advanced-search
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#rallysport-content-advanced-search .search-widget 
{
    width: 50%;
    height: 58px;
    max-width: calc(100% - 16px); /* Replicate the minimum horizontal margin of resource metadata containers, so that this has the same margin on tiny screens.*/
}

#rallysport-content-advanced-search .search-form 
{
    height: 100%;
}

#rallysport-content-advanced-search .search-widget .input-field-container
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: white;
}

#rallysport-content-advanced-search .search-widget .input-field
{
    height: 100%;
    border: none;
    outline: none;
    padding: 0 14px;
}

#rallysport-content-advanced-search .search-widget .submit-button
{
    min-width: 50px;
    max-width: 50px;
    color: gray;
    outline: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

#rallysport-content-advanced-search .search-widget .submit-button:hover
{
    color: black;
}

@media only screen and (max-width: 1000px)
{
    #rallysport-content-advanced-search .search-widget 
    {
        width: 65%;
    }
}

@media only screen and (max-width: 850px)
{
    #rallysport-content-advanced-search .search-widget 
    {
        width: 80%;
    }
}

@media only screen and (max-width: 650px)
{
    #rallysport-content-advanced-search .search-widget 
    {
        width: 100%;
    }
}
