.html-page-form-container
{
    position: relative;
    width: 420px;
    height: auto;
    display: inline-block;
    margin: 20px;
    padding: 35px;
    padding-top: 0;
    margin-top: 0;
    background-color: white;
    border-radius: 6px;
    border: 1px dashed lightgray;
    border-bottom: none;
    padding-bottom: 65px;
    box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.html-page-form-container > header
{
    margin: 35px;
    margin-bottom: 31px;
    padding: 0;
}

.html-page-form-container > form > input
{
    box-sizing: border-box;
}

.html-page-form-container > form > input:read-only
{
    border-style: dashed;
    outline: none;
}

.html-page-form-container > form > label
{
    display: block;
    text-align: left;
    margin: 5px 0;
}

.html-page-form-container > form > input, select
{
    margin-bottom: 15px;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 12px;
    border: 1px solid lightgray;
}

.html-page-form-container > form > select
{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.html-page-form-container > form > input[type="file"]
{
    padding: 10px 7px;
}

.html-page-form-container > form > .footnote
{
    margin-top: 10px;
    text-align: left;
    color: dimgray;
    padding: 5px;
}

.html-page-form-container .track-metadata
{
    margin-bottom: 14px;
}

.html-page-form-container .round-button::after
{
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f00c";
    display: inline-block;
    animation: none;

    /* Center the icon - without this, spin rotation will appear off-center.*/
    padding-left: 1px;
    padding-bottom: 1px;
}

.html-page-form-container .round-button.icon-right-arrow::after
{
    content: "\f061";
}

/* We assume that the button is disabled due to being clicked - so we'll display
 * a loading animation while the button's action proceeds.*/
.html-page-form-container .round-button:disabled::after
{
    animation: fa-spin 1.5s infinite linear;
}

.html-page-form-container .round-button.blocked::after
{
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f00d";
    display: inline-block;
    animation: none;

    /* Center the icon - without this, spin rotation will appear off-center.*/
    padding-left: 1px;
    padding-bottom: 1px;
}

.html-page-form-error-string
{
    font-weight: bold;
    color: rgb(223, 0, 0);
    padding: 25px;
    margin-bottom: 35px;
    margin-top: -30px; /* Negate header's bottom margin.*/
    background-color: rgba(255, 0, 0, 0.055);
}

/* For error strings inside <form> elements.*/
.html-page-form-error-string.in-form
{
    font-weight: normal;
    margin: 0;
    margin-bottom: -25px;
}

.html-page-form-error-string::before
{
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
    font-weight: bold;
    content: "\f06a";
}

.html-page-form-error-string::after
{
    content: ".";
}

.html-page-form-error-string.in-form::after
{
    content: "";
}

