.form-button
{
    width: 80px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    border: 1px solid lightgray;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.form-button:hover
{
    background-color: black;
    color: white;
}

.form-button.warn
{
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(255, 150, 150);
}

.form-button:disabled
{
    color: lightgray;
    border: 1px solid lightgray;
    cursor: not-allowed;
    background-color: white;
}

.form-button.bottom-right
{
    right: -1px;
    bottom: -1px;
}

.form-button.top-right
{
    right: -28px;
    top: -20px;
}
