.help-topic-container
{
    width: 35%;
    min-width: 500px;
    display: inline-block;
}

.help-topic-container > header
{
    font-weight: bold;
}

.help-topic-container > .help-topic
{
    text-align: left;
    margin-top: 30px;
    display: block;
}

.help-topic-container > .help-topic a
{
    color: blue;
}

.help-topic-container > .help-topic a:visited
{
    color: purple;
}

.help-topic-container > .help-topic li
{
    margin-bottom: 7px;
}