.navibar-widget
{
    width: 100%;
    background-color: transparent;
    color: black;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.navibar-widget a:hover
{
    text-decoration: none;
}

.navibar-widget .button
{
    margin-right: 4px;
    width: 75px;
    padding: 6px 0;
    border-radius: 4px;
    -webkit-tap-highlight-color: transparent;
}

.navibar-widget .button.current-page
{
    color: white;
    background-color: black;
}
