.rsc-table.own-tracks-list th.icon-row,
.rsc-table.own-tracks-list td.icon-row
{
    text-align: right;
}

.rsc-table.own-tracks-list td.icon-row
{
    color: lightgray;
}

.rsc-table.own-tracks-list td.icon-row a
{
    text-decoration: none;
    color: inherit;
}

.rsc-table.own-tracks-list tr > td.icon-row a:hover
{
    color: black;
}

.rsc-table.own-tracks-list tr:hover > td.icon-row
{
    color: black;
}
