#rallysport-content-help-header
{
    padding: 18px 0 7px 0;
    margin: 0 0 35px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#rallysport-content-help-header > .title
{
    font-size: 255%;
    font-family: "Fredoka One", sans-serif;
    font-weight: normal;
    color: black;
}

#rallysport-content-help-header > .title a
{
    text-decoration: none;
}

#rallysport-content-help-header .subtitle
{
    font-size: initial;
    display: inline-block;

}
