#rallysport-content-header
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid lightgray;
    margin: 0 0 30px 0;
}

#rallysport-content-header .top-contents
{
    display: flex;
    padding: 14px 2% 14px 2%;
}

#rallysport-content-header .top-contents > div + div
{
    margin-left: 40px;
}

#rallysport-content-header .top-contents > .title
{
    font-size: 230%;
    font-family: "Fredoka One", sans-serif;
    font-weight: normal;
    color: black;
    white-space: nowrap;
}

#rallysport-content-header .top-contents > .title a
{
    text-decoration: none;
}

#rallysport-content-header .top-contents > .login-widget
{
    font-size: initial;
    margin-left: auto;
}

#rallysport-content-header .login-widget div + div
{
    margin-left: 10px;
}

#rallysport-content-header .login-widget .login-action,
#rallysport-content-header .login-widget .logged-in-id
{
    padding: 6px 12px;
    background-color: #ff3690;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

#rallysport-content-header .search-widget 
{
    width: 280px;
}

#rallysport-content-header .search-widget .input-field-container
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-right: 1px dotted lightgray;
    border-radius: 6px;
}

#rallysport-content-header .search-widget .input-field
{
    height: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
}

#rallysport-content-header .search-widget .submit-button
{
    min-width: 45px;
    max-width: 45px;
    border-radius: 6px;
    color: gray;
    outline: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 1100px)
{
    #rallysport-content-header .top-contents > div + div
    {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 900px)
{
    #rallysport-content-header .top-contents > .login-widget
    {
        display: none;
    }

    #rallysport-content-header .top-contents > .search-widget
    {
        flex-grow: 1;
    }
}

@media only screen and (max-width: 680px)
{
    #rallysport-content-header .top-contents > .search-widget
    {
        display: none;
    }

    #rallysport-content-header .top-contents > .title
    {
        text-align: center;
        width: 100%;
    }

    #rallysport-content-header .top-contents
    {
        justify-content: center;
    }
}

@media only screen and (max-width: 500px)
{
    #rallysport-content-header .top-contents > .title
    {
        font-size: 180%;
    }
}

@media only screen and (max-width: 360px)
{
    #rallysport-content-header .top-contents > .title
    {
        font-size: 150%;
    }
}

@media only screen and (max-width: 330px)
{
    #rallysport-content-header .top-contents
    {
        padding-bottom: 6px;
    }

    #rallysport-content-header .top-contents > .title .logo
    {
        display: none;
    }

    #rallysport-content-header .navibar-widget .button.users
    {
        display: none;
    }
}
