.resource-metadata
{
    position: relative;
    margin: 8px;
    text-align: left;
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;
    box-shadow: 0 0 0 4px white;
    z-index: 0;

    transition: filter 0.1s ease-out,
                transform 0.1s ease-out;
}

.resource-metadata > .card a:hover
{
    text-decoration: none;
}

.resource-metadata > .card
{
    display: flex;
    flex-direction: column;
}

.resource-metadata:hover,
.resource-metadata:only-child
{
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.2));
    transform: scale(1.025);
}

.resource-metadata > .card > .info-box
{
    padding: 13px 2px;
    text-align: center;
    position: relative;
}

.resource-metadata > .card > .info-box > .title
{
    text-align: left;
    display: inline-block;
}

.resource-metadata > .card > .info-box > .icon-row
{
    position: absolute;
    display: inline-block;
    color: lightgray;
    text-align: right;
    display: none;
}

.resource-metadata > .card > .info-box > .icon-row.right
{
    right: 18px;
}

.resource-metadata > .card > .info-box > .icon-row.left
{
    left: 18px;
}

.resource-metadata:hover > .card > .info-box > .icon-row
{
    display: inline-block;
}

.resource-metadata > .card > .info-box > .icon-row > a
{
    text-decoration: none;
}

.resource-metadata > .card > .info-box > .icon-row > *+*
{
    margin-left: 6px;
}

.resource-metadata > .card > .info-box > .icon-row > a:hover
{
    text-decoration: none;
    color: black;
}

.resource-metadata > .card > .media
{
    position: relative;
    width: 358px;
    max-width: 95vw;
    height: 230px;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.resource-metadata:only-child > .card > .media
{
    width: 537px;
    height: 345px;
}
