.page-number-selector
{
    margin: 6px;
    color: black;
    display: flex;
    justify-content: center;
}

.page-number-selector.empty
{
    display: none;
}

.page-number-selector span,
.page-number-selector .fas
{
    padding: 3px 6px;
    border-radius: 4px;
    line-height: 10px;
}

.page-number-selector .fas
{
    color: lightgray;
}

.page-number-selector span.current-page
{
    color: black;
    background-color: rgba(0, 0, 0, 0.04);
}

.page-number-selector span:hover
{
    color: black;
    font-weight: bold;
}

.page-number-selector > a
{
    text-decoration: none;
    padding: 0;
}

.page-number-selector a:hover
{
    color: black;
}
