.resource-metadata
{
    padding: 10px 15px;
    margin: 6px;
    text-align: left;
    display: inline-block;
    background-color: white;
    border: 1px dashed lightgray;
    border-radius: 3px;
}

.resource-metadata > .card
{
    display: flex;
    flex-direction: column;
}

.resource-metadata > .card > .info-box
{
    padding: 10px 0;
    margin-left: 10px;
    text-align: left;
    position: relative;
}

.resource-metadata > .card > .info-box > .title
{
    text-align: left;
    display: inline-block;
}

.resource-metadata > .card > .info-box > .icon-row
{
    position: absolute;
    display: inline-block;
    color: lightgray;
    right: 0;
    text-align: right;
    margin-right: 10px;
}

.resource-metadata > .card > .info-box > .icon-row > a
{
    text-decoration: none;
}

.resource-metadata > .card > .info-box > .icon-row > a:hover
{
    text-decoration: none;
    color: black;
}

.resource-metadata > .card > .media
{
    width: 338px;
    height: 210px;
    border-radius: 0;
}
