.round-button
{
    width: 75px;
    height: 75px;
    line-height: 75px;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.round-button:hover
{
    width: 75px;
    height: 75px;
    line-height: 75px;
    position: absolute;
    border-color: gray;
    border-style: solid;
}

.round-button.warn
{
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(255, 150, 150);
}

.round-button:disabled
{
    color: black;
    border: 1px dashed black;
    cursor: not-allowed;
    background-color: white;
}

.round-button.bottom-right
{
    right: -28px;
    bottom: -20px;
}

.round-button.top-right
{
    right: -28px;
    top: -20px;
}
