.search-widget
{
    display: flex;
    align-items: center;
    padding: 0;
}

.search-widget .search-form
{
    display: flex;
    flex-basis: 100%;
    height: 93%;
}

.search-widget .search-form .input-field
{
    width: 100%;
}
