.resource-metadata.track > .card > .media svg
{
    transform: scale(0.8);
}

.resource-metadata.track > .card > .media svg > polygon
{
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.resource-metadata.track > .card > .media svg:hover > polygon
{
    stroke: black;
    stroke-width: 2;
}
