.resource-metadata.user > .card > .media
{
    color: lightgray;
    font-size: 475%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
