.html-page-form-container
{
    width: 420px;
    height: auto;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    padding-top: 0;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
}

.html-page-form-container > header
{
    font-weight: bold;
    margin: 20px;
    padding: 0;
}

.html-page-form-container > form > input
{
    box-sizing: border-box;
}

.html-page-form-container > form > label
{
    display: block;
    text-align: left;
}

.html-page-form-container > form > input, select
{
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 10px;
    border: 1px solid lightgray;
}

.html-page-form-container > form > select
{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.html-page-form-container > form > input[type="file"]
{
    padding: 10px 7px;
}

.html-page-form-container > form > button[type="submit"]
{
    margin-top: 18px;
    margin-bottom: 5px;
    padding: 10px;
    width: 80%;
}

.html-page-form-container > form > .footnote
{
    margin-top: 5px;
    text-align: right;
    font-size: 90%;
    color: gray;
    padding: 5px;
}
