.html-page-form-container
{
    position: relative;
    width: 420px;
    height: auto;
    display: inline-block;
    margin: 20px;
    padding: 35px;
    padding-top: 0;
    margin-top: 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    padding-bottom: 65px;
}

.html-page-form-container > header
{
    margin: 35px;
    margin-bottom: 31px;
    padding: 0;
}

.html-page-form-container > form > input
{
    box-sizing: border-box;
}

.html-page-form-container > form > label
{
    display: block;
    text-align: left;
    margin: 5px 0;
}

.html-page-form-container > form > input, select
{
    margin-bottom: 15px;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 12px;
    border: 1px solid lightgray;
}

.html-page-form-container > form > select
{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.html-page-form-container > form > input[type="file"]
{
    padding: 10px 7px;
}

.html-page-form-container > form > .footnote
{
    margin-top: 10px;
    text-align: left;
    font-size: 90%;
    color: gray;
    padding: 5px;
}

.html-page-form-error-string
{
    font-weight: bold;
    color: rgb(223, 0, 0);
    padding: 25px;
    margin-bottom: 35px;
    margin-top: -60px;
    background-color: rgba(255, 0, 0, 0.055);
}

.html-page-form-error-string::before
{
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
    font-weight: bold;
    content: "\f06a";
}

.html-page-form-error-string::after
{
    content: ".";
}
