@font-face
{
    font-family: "Comic Sans (server-side)";
    src: url("/rallysport-content/fonts/comic-sans/comic-sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Comic Sans (server-side)";
    src: url("/rallysport-content/fonts/comic-sans/comic-sans-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body
{
    background-color: white;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: underline;
}
