.login-widget
{
    font-size: initial;
    display: block;
}

.login-widget > .separator
{
    margin: 0 5px;
}

.login-widget > a
{
    text-decoration: none;
    color: inherit;
}

.login-widget > a:hover
{
    text-decoration: underline;
}
