#rallysport-content-navibar
{
    position: fixed;
    bottom: 50%;
    right: 0;
    transform: translateY(50%);
    padding: 12px 4px;
    border-radius: 6px 0 0 6px;
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
}

#rallysport-content-navibar .fas
{
    font-size: 135%;
    padding: 12px;
}

#rallysport-content-navibar .button:hover
{
    color: white;
}

#rallysport-content-navibar > .button.current-page
{
    color: white;
    transform: scale(1.07);
}
