.round-button
{
    width: 75px;
    height: 75px;
    line-height: 75px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    outline: none;
}


/* Prevent the button's text from moving when pressed in Firefox.*/
.round-button:active
{
    padding: 0px;
}

.round-button:disabled
{
    color: lightgrey;
    border: 1px dashed lightgray;
    cursor: not-allowed;
}

.round-button.bottom-right
{
    right: -28px;
    bottom: -28px;
}

.round-button.top-right
{
    right: -28px;
    top: -28px;
}
