.track-metadata
{
    padding: 0;
    border-radius: 0;
    margin-bottom: 34px;
    margin-top: 34px;
    text-align: left;
    display: inline-block;
    background-color: white;
}

.track-metadata > .card
{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.track-metadata > .card > .info-box
{
    padding: 10px;
    text-align: center;
}

.track-metadata > .card > .media
{
    width: 338px;
    height: 210px;
    border-radius: 0;
}

.track-metadata > .card > .media svg > polygon
{
    stroke: dimgray;
    stroke-width: 1;
    fill: none;
}
