.track-metadata
{
    padding: 15px;
    margin: 10px;
    border-radius: 0;
    text-align: left;
    display: inline-block;
    background-color: white;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    border-radius: 12px;
}

.track-metadata > .card
{
    display: flex;
    flex-direction: column;
}

.track-metadata > .card > .info-box
{
    padding: 10px;
    text-align: center;
}

.track-metadata > .card > .media
{
    width: 338px;
    height: 210px;
    border-radius: 0;
}

.track-metadata > .card > .media svg > polygon
{
    stroke: dimgray;
    stroke-width: 1.5;
    fill: none;
}
