.users-container
{
    width: 340px;
    display: table;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.users-container a
{
    text-decoration: none;
    color: inherit;
}

.users-container td, th
{
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.users-container th
{
    border-bottom: 1px solid lightgray;
}

.users-container-title
{
    margin-bottom: 30px;
}
