.track-metadata
{
    padding: 0;
    border-radius: 0;
    margin-bottom: 29px;
    margin-top: 29px;
    text-align: left;
    display: inline-block;
    background-color: white;
    min-width: 520px;
}

.track-metadata > .title
{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 120%;
}

.track-metadata > .title >.tag
{
    margin-left: 6px;
    font-size: 80%;
    font-weight: normal;
    color: dimgray;
}

.track-metadata > .title >.tag:hover
{
    color: black;
}

.track-metadata > .form
{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.track-metadata > .form > .media
{
    width: 370px;
    height: 230px;
    border-radius: 0;
    
    background-color: white;
    background-size: 23px 23px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
}

.track-metadata > .form > .media > svg > polygon
{
    stroke: dimgray;
    stroke-width: 70;
    fill: none;
}

.track-metadata > .form > .fields
{
    margin-left: 20px;
}

.track-metadata > .form > .fields > .actions
{
    border-left: 6px solid rgb(48, 105, 230);
    background-color: rgb(244, 248, 255);
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    margin-left: -10px;
}

.track-metadata > .form > .fields > .value-field .fas
{
    margin-right: 1px;
}

.track-metadata > .form > .fields > .actions .fas
{
    color: rgb(48, 105, 230);
}

.track-metadata > .form > .fields > .value-field
{
    padding-bottom: 1px;
    color: gray;
}

.track-metadata > .form > .fields > .value-field:hover
{
    color: black;
}

.track-metadata > .form > .fields a
{
    text-decoration: none;
    color: inherit;
}

.track-metadata > .form > .fields > .actions  a
{
    text-decoration: none;
    color: rgb(14, 82, 230);
}

.track-metadata > .form > .fields > .actions a:hover
{
    text-decoration: underline;
}

.track-metadata > .form > .fields > div + div
{
    padding-top: 6px;
}

.track-metadata > .form > .fields > .actions > div + div
{
    padding-top: 6px;
}
